@use "../../scss/helpers" as *;

.btn {
	position: relative;
	height: fluid(46 , 40);
	border-radius: rem(8);
	font-size: rem(16);
	font-weight: 600;
	padding: rem(8) rem(16);
	text-align: center;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: normal;
	white-space: nowrap;
	text-transform: inherit;
	box-shadow: none;
	transition: var(--transition-duration);
	z-index: 1;
	&__max {
		width: 100%;
	}
	&__max-mobile {
		@include mobile-s {
			width: 100%;
		}
	}
	&__auto {
		width: auto;
	}
	&__primary {
		position: relative;
		overflow: hidden;
		color: var(--btn-primary-color);
        background-color: var(--btn-primary-bg);
		&:hover {
			background-color: var(--btn-primary-bg-hover);
		}
		&:focus, &.active {
          box-shadow: var(--btn-primary-focus)
		}
		&:disabled, &.disabled {
			pointer-events: none;
			cursor: default;
			background-color: var(--btn-primary-disabled);
		}
	}
	&__secondary {
		color: var(--color-dark);
		background-color: var(--color-white);
	}
	&__light {
		color: var(--btn-light-color);
		background-color: var(--btn-light-bg);
		height: fluid(46, 42);
		&:hover, &:focus {
			background-color: var(--color-gray);
		}
	}
	&__grey {
		color: var(--color-dark);
		background-color: var(--color-gray-2);
		transition: var(--transition-duration);
		opacity: 1;
		&:hover {
			opacity: .7;
		}
	}
	&__icon {
		width: fluid(48, 40);
		height: fluid(48, 40);
		padding: 0;
		transition: var(--transition-duration);
		.icon {
			transition: var(--transition-duration);
		}
		&:hover {
			transform: rotate(180deg);
		}
	}
	&__select {
		&:after {
			margin-left: fluid(21, 16);
			display: flex;
			flex-shrink: 0;
			position: relative;
			content: "";
			@include square(rem(16));
			background: url("../../assets/images/icons/chevron-down.svg") center/ contain no-repeat;
		}
	}
	&__filter {
		z-index: 999;
		position: fixed;
		bottom: rem(40);
		right: rem(20);
		border: rem(1) solid var(--color-dark);
		background-color: var(--color-light);
		@include tablet-above {
			display: none;
		}
	}
}

.btn-group {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: rem(10);
}
